@media print {

  /* Hide all elements by default */
  .print-hidden {
    display: none !important;
  }

  @page {
    size: A4;
    /* Set page size to A4 */
  }

  .printdata * {
    font-size: 12px;
    /* You can adjust this value as needed */
  }

  /* Additional adjustments for specific elements if needed */
  .printdata .text-2xl {
    font-size: 18px;
    /* Example: reducing the size of text-2xl class */
  }

}

.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.custom-width {
  width: 120px; /* Adjust the width as needed */
}

@keyframes customBounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.animate-custom-bounce {
  animation: customBounce 2s infinite;
}